.build-pc-container {
  padding-top: 30rem;
}

.cards{
    width: 100%;
    min-height: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.total{
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.476);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.total .price{
    padding: 30px;
    font-size: 25px;
}
.total .addp button{
    position: relative;
    right: 20px;
    width: 200px;
    height: 20px;
    padding: 15px 0 40px;
    margin-right: 30px;
    font-size: 20px;
    border-radius: 10px;
    background: rgb(42, 164, 42);
    transition: 0.2s;
}
.addp button:hover{
    transform: scale(1.05);
    background-color: rgba(42, 164, 42, 0.643);
}

