.header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: orange;
}

#logout{
    border-radius: 2px;
    width:80px;
    height:40px;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.786);
    margin-top: 10px;
    padding: 10px;
    padding-bottom: 20px;
    position: relative;
    left: 5px;
    transform: scale(1);
    transition: 0.3s ;
}
#logout:hover{
    background-color: rgb(46, 23, 176);
    box-shadow: 0px 0px 15px rgba(47, 0, 255, 0.5);
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
.header .logo{
    display: flex;
    align-items: center;
    margin: 0 0 0 10px;
    border-radius: 50%;
}

.wel{
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.651);
    position: relative;
    right: 30px;
}
.header .logo img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.header .menu{
    display: flex;
    align-items: center;
}

.header .menu a{
    padding:10px 20px;
    font-size: 20px;
    color: black;
    transform: scale(1);
    transition: 0.3s ;
}

.header .menu a:hover{
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}


.header .menu a.active{
    background-color: rgba(255, 255, 255, 0.1);
}
.header .btn{
    font-size: 14px;
    margin-right: 14px;
}
.header .logout {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    
  }
